.vs
packages/

IRL_Bitmap_Converter_Tools/bin
IRL_Bitmap_Converter_Tools/obj

IRL_Common_Library/bin
IRL_Common_Library/obj

IRL_Gui_Image_Builder_Library/bin
IRL_Gui_Image_Builder_Library/obj

IRL_Image_Builder/bin
IRL_Image_Builder/obj

IRL_Image_Creator/bin
IRL_Image_Creator/obj

IRL_Image_Creator_Tools/bin
IRL_Image_Creator_Tools/obj